/learning_log/learning_log/__pycache__/
/learning_log/learning_logs/__pycache__/
/learning_log/learning_logs/migrations/__pycache__/
/learning_log/users/__pycache__/
/learning_log/users/migrations/__pycache__/
/Blog/Blog/__pycache__/
/Blog/blogs/__pycache__/
/Blog/blogs/migrations/__pycache__/
/Blog/users/__pycache__/
/Blog/users/migrations/__pycache__/
*.sqlite3
/natalia_toys/natalia_toys/__pycache__/
/natalia_toys/toys/__pycache__/
/natalia_toys/toys/migrations/__pycache__/
/natalia_toys/users/__pycache__/
/natalia_toys/users/migrations/__pycache__/
/natalia_toys/cart/__pycache__/
/natalia_toys/cart/migrations/__pycache__/
