<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
<body>

{% extends 'learning_logs/base.html' %}

{% block content %}

  <!-- Проверка введенных данных (если логин и пароль не находятся в БД, то выдается сообщение об ошибке)-->
  {% if form.errors %}
    <p>Your login and password didn't match. Please try again.</p>
  {% endif %}

  <form  action="{% url 'users:login' %}" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button name="submit">Log in</button>

      <!-- Ниже идет настройка ввода. После ввода переадресация на главную страницу. Тип ввода - скрытый.
      Очень важно чтобы имя было "next" иначе будет ошибка :
      "The current path, accounts/profile/, didn’t match any of these.-->
      <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
  </form>

{% endblock content %}

</body>
</html>
