<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Корзина</title>
</head>
<body>
{% extends 'toys/base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block css_templates %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
{% endblock %}

{% block page_header %}Корзина покупок{% endblock page_header %}

{% block content %}
  <h1>Корзина покупок</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Картинка</th>
        <th>Товар</th>
        <th>Обновить кол-во</th>
        <th>Удалить</th>
        <th>Кол-во</th>
        <th>Цена за шт</th>
        <th>Общая стоимость</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with toy=item.toy %}
          <tr>
            <td>
                <img src="{{ toy.image_1.url }}">
            </td>
            <td><a href="{% url 'toys:toy_info' toy.id %}">{{ toy.title }}</a></td>
            <td>
              <form action="{% url 'cart:cart_add' toy.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <button class="btn btn-success" type="submit">Обновить</button>
                {% csrf_token %}
              </form>
            </td>
            <td><a class="btn btn-danger" href="{% url 'cart:cart_remove' toy.id %}">Удалить</a></td>
            <td>
              {{ item.quantity }}
            </td>
            <td class="num">{{ item.price }} руб.</td>
            <td class="num">{{ item.total_price }} руб.</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Всего</td>
        <td colspan="4"></td>
        <td class="num">{{ cart.get_total_price }} руб.</td>
      </tr>
    </tbody>
  </table>
  {% if cart.get_total_price != 0 %}
  <p class="text-right">
    <a href="{% url 'payment:basket' %}" class="btn btn-outline-success">Оформить заказ</a>
  </p>
  {% endif %}
{% endblock %}

</body>
</html>