{% extends 'toys/base.html' %}
{% load bootstrap4 %}

{% block page_header %}<h1>Смена пароля пользователя:</h1>{%endblock page_header %}

{% block content %}
    {% if validlink %}
        <p>Пожалуйста введите ваш новый пароль дважды:</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button name="submit" class="btn btn-outline-success">Сменить пароль</button>
        </form>
    {% else %}
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она
             уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
{% endblock content %}
