<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты для связи</title>
</head>
<body>

{% extends 'toys/base.html' %}

{% block page_header %}
    <p align="center">Контактная информация для связи</p>
{% endblock page_header %}

{% block content %}
    <ul>
        <li><b>Телефон для связи:</b> здесь должен быть телефон</li>
        <li><b>Email для связи:</b> здесь должен быть email</li>
        <li><b>Прочая информация:</b> здесь должна быть прчоая информация</li>
    </ul>

{% endblock content %}

</body>
</html>