<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты для связи</title>
</head>
<body>

{% extends 'toys/base.html' %}
{% load static %}

{% block css_templates %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css'%}">
{% endblock %}

{% block page_header %}
    <h1 align="center">Контактная информация для связи</h1>
{% endblock page_header %}

{% block content %}
    <ul>
        <li><b>Телефон для связи:</b> здесь должен быть телефон</li>
        <li><b>Email для связи:</b> здесь должен быть email</li>
        <li><b>Прочая информация:</b> здесь должна быть прчоая информация</li>
    </ul>

{% endblock content %}

</body>
</html>