<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог игрушек</title>
</head>
<body>

{% extends 'toys/base.html' %}
{% load bootstrap %}

{% block content %}

{% if user.username == 'NGuliaeva' or user.username == 'admin' %}
    <a href="{% url 'toys:new_toy' %}">Добавить игрушку в каталог</a>
{% endif %}

<form method="get">
    {{ filter.form|bootstrap }}
    <button type="submit" class="btn btn-primary">Поиск</button>
</form>

<ul>
        {% for toy in filter.qs %}
            {% if not user.username == 'NGuliaeva' %}
                 {% if not user.username == 'admin' %}
                    {% if toy.is_available %}
                        <p><b>Название:</b> {{ toy.title|linebreaks }}</p>
                        <p><b>Цена:</b> {{ toy.price}} руб.</p>

                        {% if toy.image_1 %}
                            <p><img src="{{ toy.image_1.url }}"></p>
                        {% endif %}
                        <a class="btn btn-warning" href="{% url 'toys:toy_info' toy.id %}">Подробнее</a>
                    {% endif %}
                {% else %}
                    <p><b>Название:</b> {{ toy.title|linebreaks }}</p>
                    {% if user.username == 'NGuliaeva' or user.username == 'admin' %}
                        <a href="{% url 'toys:edit_toy' toy.id %}">Редактировать</a>
                        <a href="{% url 'toys:delete_toy' toy.id %}">Удалить</a>
                    {% endif %}
                    <p><b>Цена:</b> {{ toy.price}} руб.</p>

                    {% if toy.image_1 %}
                        <p><img src="{{ toy.image_1.url }}"></p>
                    {% endif %}
                    <a class="btn btn-warning" href="{% url 'toys:toy_info' toy.id %}">Подробнее</a>
                {% endif %}
            {% else %}
                <p><b>Название:</b> {{ toy.title|linebreaks }}</p>
                {% if user.username == 'NGuliaeva' or user.username == 'admin' %}
                    <a href="{% url 'toys:edit_toy' toy.id %}">Редактировать</a>
                    <a href="{% url 'toys:delete_toy' toy.id %}">Удалить</a>
                {% endif %}
                <p><b>Цена:</b> {{ toy.price}} руб.</p>

                {% if toy.image_1 %}
                    <p><img src="{{ toy.image_1.url }}"></p>
                {% endif %}
                <a class="btn btn-warning" href="{% url 'toys:toy_info' toy.id %}">Подробнее</a>
            {% endif %}
        {% empty %}
            <li><h5>Нет игрушек, удовлетворяющих выбранные критерии!</h5></li>
        {% endfor %}
    </ul>
{% endblock content %}

</body>
</html>