<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог игрушек</title>
</head>
<body>

{% extends 'toys/base.html' %}

{% block content %}

{% if user.username == 'NGuliaeva' or user.username == 'admin' %}
    <a href="{% url 'toys:new_toy' %}">Добавить игрушку в каталог</a>
{% endif %}
<ul>
        {% for toy in toys %}
            <p><b>Название:</b> {{ toy.title|linebreaks }}</p>
            <a href="{% url 'toys:toy_info' toy.id %}">Подробнее</a>
            {% if user.username == 'NGuliaeva' or user.username == 'admin' %}
                <a href="{% url 'toys:edit_toy' toy.id %}">Редактировать</a>
                <a href="{% url 'toys:delete_toy' toy.id %}">Удалить</a>
            {% endif %}
            <p><b>Цена:</b> {{ toy.price}} руб.</p>

<!--            {% if toy.description %}-->
<!--                <p><b>Описание:</b> {{ toy.description }}</p>-->
<!--            {% endif %}-->

            {% if toy.image_1 %}
                <p><img src="{{ toy.image_1.url }}"></p>
                    <form action="{% url 'cart:cart_add' toy.id %}" method="post">
                        {{ cart_toy_form }}
                        {% csrf_token %}
                        <input type="submit" value="Добавить в корзину">
                    </form>
            {% endif %}
        {% empty %}
            <li><h5>No toys were added yet.</h5></li>
        {% endfor %}
    </ul>
{% endblock content %}

</body>
</html>