<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<p>
    <a href="{% url 'learning_logs:index' %}">Learning Log</a> - <!-- "<a> </a>>" - это тег для создания ссылок-->
    <a href="{% url 'learning_logs:topics' %}">Topics</a> -

    <!-- Ниже представлена проверка, авторизован ли пользователь -->
    {% if user.is_authenticated %}
        Hello, {{ user.username }}!
        <a href="{% url 'users:logout' %}">Log out</a>
    {% else %}
        <a href="{% url 'users:login' %}">Log in</a> -
        <a href="{% url 'users:register' %}">Registration</a>
    {% endif %}
</p>

{% block content %}{% endblock content %}