<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New entry</title>
</head>
<body>

{% extends 'learning_logs/base.html' %}
{% load bootstrap4 %}

{% block page_header %}
    <em>Back to topic</em>
    <u><em><mark><a href="{% url 'learning_logs:topic' topic.id %}">{{topic}}</a></mark></em></u>
    <h1 class="display-5">Add a new entry:</h1>
{% endblock page_header %}

{% block content %}
    <form action="{% url 'learning_logs:new_entry' topic.id %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button name="submit" class="btn btn-outline-success">Add entry</button>
    </form>
{% endblock content %}

</body>
</html>
