{% extends 'learning_logs/base.html' %}

{% block content %}
    <p>Topic: {{topic}}</p>  <!-- Двойные фигурные скобки нужны для вывода названия топика -->

    <p>Entries:</p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i'}}</p>  <!-- "|" -фильтр-функция -->
                <p>{{ entry.text|linebreaks }}</p>  <!-- "linebreaks" - создает отступы, а не сплошной текст.-->
            </li>
        {% empty %}
            <li>No entries were added yet.</li>
        {% endfor %}
    </ul>

{% endblock content %}
