<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Выход из системы</title>
</head>
<body>

{% extends 'blogs/main_page.html' %}

{% block content %}
<main class="container">
    <div class="djambotron container" style="background-color: #e4eaed" align="center">
        <h1>Спасибо за использование приложения. Ждем Вас снова!</h1>
    </div>

    <div align="center">
        <i><h4>Вы успешно вышли из учетной записи.</h4></i>
    </div>
</main>
{% endblock content %}

</body>
</html>
