<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>
</head>
<body>

{% extends 'blogs/main_page.html' %}

{% load bootstrap4 %}

{% block content %}
<main class="card mb-3">
    <div class="card-header" align="center">
        <h3>Авторизация пользователя:</h3>
    </div>

    <div class="card-body container" >
    <form class="form" action="{% url 'users:login' %}" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div align="center">
            <button name="submit" class="btn btn-primary">Log in</button>
        </div>
        <input type="hidden" name="next" value="{% url 'blogs:main_page' %}"/>
    </form>
    </div>
</main>
{% endblock content %}

</body>
</html>
