<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование записи</title>
</head>
<body>

{% extends 'blogs/main_page.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="card mb-3">
    <div class="card-header" align="center">
        <h3>Редактирование записи "{{blog.title}}":</h3>
    </div>

    <div class="card-body">
        <form action="{% url 'blogs:edit_blog' blog.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div align="center">
                <button name="submit" class="btn btn-outline-success">Сохранить изменения</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

</body>
</html>
